.wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
  }
  
.sidebar {
    background: #BBB;
    min-height: 100%;
    order: -1;
    flex: 0 0 auto;
    width: fit-content;
}

.main {
    background: #9C9;
    flex: 1 1 auto;
}

